<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Ora bolas</title>
</head>
<body class="container">
    <section class="container-img">
        <img src="../static/img/robo.svg" alt="robo">
    </section>
    <section class="container-form">
        <form action="/processar" method="post" id="form" >
            <label for="valor">Digite um valor para x inicial:</label>
            <input type="text" id="x" name="x">
            <label for="valor">Digite um valor para y inicial:</label>
            <input type="text" id="y" name="y">
            <button type="submit">Enviar</button>
        </form>
    </section>
</body>
</html>